html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}

.category-offcanvas {
    width: 128px !important;
    position: fixed;
    bottom: 0;
}

.nav.navbar {
    z-index: 2000;
}