html {
  font-size: 14px;
  scroll-behavior: auto !important;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}

.category-offcanvas {
    width: 128px !important;
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    bottom: 0;
}

.nav.navbar {
}

.profile-button, .cart-button {
    cursor: pointer;
}

#btn-back-to-top {
    position: fixed;
    top: 20px;
    right: 20px;
    display: none;
}


.nav-pills .nav-link.active, .nav-pills .nav-link.active.a:hover {
    background-color: #D4403A;
    color: white;
}

.nav-pills .nav-link {
    color: #D4403A;
}

.form-check-input:checked {
    background-color: #D4403A;
    border-color: #D4403A;
}

.offcanvas-body .nav-link.active {
    background-color: #D4403A;
    color: white;
}

.offcanvas-body .nav-link {
    background: 0 0;
    border: 0;
    border-radius: .25rem;
    display: block;
    padding: .5rem 1rem;
    text-decoration: none;
    transition: color .15s ease-in-out, background-color .15s ease-in-out, border-color .15s ease-in-out;
    color: #D4403A;
}